<section class="first">
  <div class="container">

    <form method="POST" class="form" id="form">
      <h2 class="form__title">
        Lorem ipsum dolor sit.
      </h2>
      <label>
        Your name
        <input name="f_name" placeholder="John" required/>
      </label>
      <div class="form__input-box">
        <label>
          Your last name
          <input name="l_name" placeholder="Last name" />
        </label>
        <label>
          Your location
          <input name="l_name" placeholder="Location" />
        </label>
      </div>
      <div class="form__input-box">
        <label>
          Your e-mail
          <input type="email" name="email" placeholder="E-mail" required/>
        </label>
        <label>
          Your phone
          <input type="tel" name="phone" placeholder="Phone" autocomplete="off" required />
        </label>
      </div>

      <button class="form__btn" type="submit">
        Submit
      </button>
    </form>

    <div class="first__box">
      <p class="first__descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero reprehenderit architecto, alias modi commodi labore laborum.</p>
      <p class="first__accent">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

      <a href="/">
        <button type="button" class="first__btn">MORE</button>
      </a>
    </div>
  </div>
</section>