<section class="fourth">
  <div class="container">
    
    <h2 class="fourth__title">Lorem ipsum dolor sit amet</h2>

        <ul class="fourth__list">

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">1. Lorem ipsum dolor sit amet consectetur?</p>
                <p class="fourth__list-item-ans">Lorem, ipsum <b>lorem, ipsum</b>, Lorem ipsum dolor sit amet consectetur adipisicing elit <b>lorem ipsum dolor sit</b> lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </li>

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">2. Lorem ipsum dolor sit, amet consectetur adipisicing elit?</p>
                <p class="fourth__list-item-ans">Lorem ipsum <b>lorem, ipsum dolor</b>, lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat?<b>Lorem ipsum dolor sit amet</b>
                    Lorem, ipsum dolor.</p>
            </li>

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non?</p>
                <p class="fourth__list-item-ans"><b>Non</b>. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam aut placeat iusto veritatis, at earum.</p>
            </li>

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">4. Lorem ipsum dolor sit amet consectetur adipisicing?</p>
                <p class="fourth__list-item-ans">Lorem, ipsum dolor <b>lorem, ipsum.</b>, lorem ipsum dolor sit.
                </p>
            </li>

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">5. Lorem ipsum dolor sit amet consectetur adipisicing?</p>
                <p class="fourth__list-item-ans">Lorem, ipsum dolor <b>lorem, ipsum.</b>, lorem ipsum dolor sit.
                </p>
            </li>

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">6. Lorem ipsum dolor sit amet consectetur adipisicing?</p>
                <p class="fourth__list-item-ans">Lorem, ipsum dolor <b>lorem, ipsum.</b>, lorem ipsum dolor sit.
                </p>
            </li>

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">7. Lorem ipsum dolor sit amet consectetur adipisicing?</p>
                <p class="fourth__list-item-ans">Lorem, ipsum dolor <b>lorem, ipsum.</b>, lorem ipsum dolor sit.
                </p>
            </li>

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">8. Lorem ipsum dolor sit amet consectetur adipisicing?</p>
                <p class="fourth__list-item-ans">Lorem, ipsum dolor <b>lorem, ipsum.</b>, lorem ipsum dolor sit.
                </p>
            </li>

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">9. Lorem ipsum dolor sit amet consectetur adipisicing?</p>
                <p class="fourth__list-item-ans">Lorem, ipsum dolor <b>lorem, ipsum.</b>, lorem ipsum dolor sit.
                </p>
            </li>

        </ul>

        <button type="button" class="fourth__btn scroll-btn">SUBMIT APPLICATION</button>

  </div>
</section>
