<section class="header">

  <div class="container">
    <!-- LANG -->
    <div class="header__lang list">
      <button type="button" class="header__lang-item">UA</button>
      <button type="button" class="header__lang-item active">EN</button>
      <button type="button" class="header__lang-item">FR</button>
    </div>
  </div>

  <div class="header__box">
    <div class="container">
      <!-- LOGO -->
      <p class="header__logo"><span class="header__logo--part">Web</span>Studio</p>

      <!-- HEADER INFO -->
      <ul class="header__list list">
        <li class="header__list-item">
          <a href="index.html">Lorem ipsum dolor sit</a>
        </li>
        <li class="header__list-item">
          <a href="index.html">Lorem ipsum</a>
        </li>
        <li class="header__list-item">
          <a href="index.html">Lorem ipsum dolor</a>
        </li>
        <li class="header__list-item">
          <a href="index.html">Lorem ipsum dolor sit, amet consectetur</a>
        </li>
        <li class="header__list-item">
          <a href="index.html">Lorem ipsum dolor</a>
        </li>
        <li class="header__list-item">
          <a href="index.html">Lorem ipsum dolor sit</a>
        </li>
      </ul>

      <!-- MOB MENU -->
      <div class="header__menu-mob">
        <!-- MOB BTN -->
        <button type="button" class="menu-button" data-menu-button aria-expanded="false" aria-controls="mobile-menu">
          <svg width="24" height="16" aria-label="Переключатель мобильного меню">
            <use class="menu-button__icon-menu menu-icon" href="../img/sprite.svg#icon-menu_24px"></use>
            <use class="menu-button__icon-cross menu-icon" href="../img/sprite.svg#icon-close_24px"></use>
          </svg>
        </button>

        <p class="header__menu-title">Menu</p>

        <!-- MOB CONTAINER -->
        <div class="mobile-menu container" id="mobile-menu" data-menu>
          <nav>
            <ul class="mobile-menu__site-nav list">
              <li class="mobile-menu__site-nav-item">
                <a href="index.html" class="mobile-menu__site-nav-link mobile-menu__site-nav-link--mobile-active">Lorem,
                  ipsum</a>
              </li>
              <li class="mobile-menu__site-nav-item">
                <a href="index.html" class="mobile-menu__site-nav-link">Lorem, ipsum dolor</a>
              </li>
              <li class="mobile-menu__site-nav-item">
                <a href="index.html" class="mobile-menu__site-nav-link">Lorem ipsum dolor sit</a>
              </li>
              <li class="mobile-menu__site-nav-item">
                <a href="index.html" class="mobile-menu__site-nav-link">Lorem ipsum</a>
              </li>
              <li class="mobile-menu__site-nav-item">
                <a href="index.html" class="mobile-menu__site-nav-link">Lorem ipsum</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>

  <nav class="header__menu-desk">
    <div class="container">
      <ul class="desk-menu__site-nav list">
        <li class="desk-menu__site-nav-item">
          <a href="index.html" class="desk-menu__site-nav-link">Lorem,
            ipsum</a>
        </li>
        <li class="desk-menu__site-nav-item">
          <a href="index.html" class="desk-menu__site-nav-link">Lorem, ipsum dolor</a>
        </li>
        <li class="desk-menu__site-nav-item">
          <a href="index.html" class="desk-menu__site-nav-link">Lorem ipsum dolor sit</a>
        </li>
        <li class="desk-menu__site-nav-item">
          <a href="index.html" class="desk-menu__site-nav-link">Lorem ipsum</a>
        </li>
        <li class="desk-menu__site-nav-item">
          <a href="index.html" class="desk-menu__site-nav-link">Lorem ipsum</a>
        </li>
      </ul>
    </div>
  </nav>

</section>