<section class="second">
  <div class="container">
    
    <h2 class="second__title">Lorem ipsum dolor sit</h2>

    <div class="second__desk-box">
      <div class="card second__card">
        <img src="../img/second/design-mob.jpg" class="card-img-top second__card-img" alt="...">
        <div class="card-body second__card-body">
          <h4 class="second__card-title">Lorem ipsum dolor sit</h4>
          <p class="card-text second__card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
  
      <div class="card second__card">
        <img src="../img/second/goldenstar-mob.jpg" class="card-img-top second__card-img" alt="...">
        <div class="card-body second__card-body">
          <h4 class="second__card-title">Lorem, ipsum</h4>
          <p class="card-text second__card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
  
      <div class="card second__card">
        <img src="../img/second/inspiration-mob.jpg" class="card-img-top second__card-img" alt="...">
        <div class="card-body second__card-body">
          <h4 class="second__card-title">Lorem, ipsum dolor</h4>
          <p class="card-text second__card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

  </div>
</section>
