<section class="third">
  <div class="container">

    <h2 class="third__title">Lorem, ipsum</h2>
    <ul class="third__list">
      <li class="third__list-item">
        <a href="" class="third__list-link">
          <svg class="third__list-icon" width="44" height="49">
            <use href="../img/sprite.svg#icon-logo-1"></use>
          </svg>
        </a>
      </li>
      <li class="third__list-item">
        <a href="" class="third__list-link">
          <svg class="third__list-icon" width="40" height="52">
            <use href="../img/sprite.svg#icon-logo-2"></use>
          </svg>
        </a>
      </li>
      <li class="third__list-item">
        <a href="" class="third__list-link">
          <svg class="third__list-icon" width="41" height="42">
            <use href="../img/sprite.svg#icon-logo-3"></use>
          </svg>
        </a>
      </li>
      <li class="third__list-item">
        <a href="" class="third__list-link">
          <svg class="third__list-icon" width="80" height="42">
            <use href="../img/sprite.svg#icon-logo-4"></use>
          </svg>
        </a>
      </li>
      <li class="third__list-item">
        <a href="" class="third__list-link">
          <svg class="third__list-icon" width="59" height="47">
            <use href="../img/sprite.svg#icon-logo-5"></use>
          </svg>
        </a>
      </li>
      <li class="third__list-item">
        <a href="" class="third__list-link">
          <svg class="third__list-icon" width="88" height="45">
            <use href="../img/sprite.svg#icon-logo-6"></use>
          </svg>
        </a>
      </li>
      <li class="third__list-item">
        <a href="" class="third__list-link">
          <svg class="third__list-icon" width="44" height="49">
            <use href="../img/sprite.svg#icon-logo-1"></use>
          </svg>
        </a>
      </li>
      <li class="third__list-item">
        <a href="" class="third__list-link">
          <svg class="third__list-icon" width="40" height="52">
            <use href="../img/sprite.svg#icon-logo-2"></use>
          </svg>
        </a>
      </li>
      <li class="third__list-item">
        <a href="" class="third__list-link">
          <svg class="third__list-icon" width="41" height="42">
            <use href="../img/sprite.svg#icon-logo-3"></use>
          </svg>
        </a>
      </li>
      <li class="third__list-item">
        <a href="" class="third__list-link">
          <svg class="third__list-icon" width="80" height="42">
            <use href="../img/sprite.svg#icon-logo-4"></use>
          </svg>
        </a>
      </li>
      <li class="third__list-item">
        <a href="" class="third__list-link">
          <svg class="third__list-icon" width="59" height="47">
            <use href="../img/sprite.svg#icon-logo-5"></use>
          </svg>
        </a>
      </li>
      <li class="third__list-item">
        <a href="" class="third__list-link">
          <svg class="third__list-icon" width="88" height="45">
            <use href="../img/sprite.svg#icon-logo-6"></use>
          </svg>
        </a>
      </li>
    </ul>

    <span class="third__toggle">MORE</span>
  </div>
</section>